<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OUTLET</title>
    <link rel="stylesheet" href="style.css">
</head>
<header>
    <nav class="navigation">
        <div class="container">
            <button class = "full_menu h_button">
                <a href="/" class="lines"><img style="width:30px;height:30px;" src="static/menu.png" alt="notifications"></a>
            </button>
            <a href="/" class="logo">Outlet</a>
            
            <div class= "head_buttons">
                <button class = "favorite h_button">
                    <a href="/" class="heart"><img style="width:30px;height:30px;" src="static/heart.png" alt="notifications"></a>
                </button>
                <button class = "tovars tovars_button">
                    <a href="/" class="bag"><img style="width:30px;height:30px;" src="static/bag.png" alt="notifications"></a>
                </button>
                <button class = "reg_logo h_button">
                    <a href="/" class="reg_pic"><img style="width:30px;height:30px;" src="static/reg_pic.png" alt="notifications"></a>
                </button>
                <dialog id="regDialog">
                    <form action="action_page.php">
                      <div class="vcenter back">
                        <button type="button" onclick="window.regDialog.close()" style="width: 40px;height: 40px;margin-left: 350px;border-color: transparent;background-color: transparent;">
                          <a href="#"> <img style="width:45px;height:45px;" class="krest" src="static/krest.png"> </a>
                        </button>
                        <h1 style="font-size: 30px;">Регистрация</h1>
                        <hr>            
                        <!-- <label for="email"><b>Email</b></label> -->
                        <input type="text" id="regisInput" placeholder="Email или номер телефона" name="email" required>
                        <!-- <label for="psw"><b>Пароль</b></label> -->
                        <input type="password" id="regisInput" placeholder="Пароль" name="psw" required>
                        <!-- <label for="psw-repeat"><b>Подтвердите пароль</b></label> -->
                        <input type="password" id="regisInput" placeholder="Подтвердите пароль" name="psw-repeat" required>
                        <hr>
                        <!-- <p>Создавая аккаунт вы соглашаетесь с  <a href="#">условиями конфиденциальности</a>.</p> -->              
                        <button type="submit" class="registerbtn">Зарегистрироваться</button>
                        <div class="container signin">
                          <style>
                            a {
                            text-decoration: none; /* Убираем подчёркивание */
                            }
                          </style>
                          <p style="margin-left: auto;margin-right: auto;">Уже зарегистрированы? <a href="#">Войти</a></p>
                        </div>
                      </div>
                    </form>
                  </dialog>
            </div>
        </div>
    </nav>
</header>
<body>  
    <form class="search-wrapper">
        <input class="search" type="text">    <!-- строка поиска класс = search-->
        <button class="search-submit" type="submit"> <!-- кнопка подтверждения поиска с картинкой класс = search-submit-->
            <a href="/" class="search_pic"><img style="width:30px;height:30px;" src="static/lupa.png" alt="notifications"></a><!-- класс самой картирки поиска = search_pic-->
        </button>
    </form>
    <div class = "container_filt">
        <div class="wrapper">
            <header>
              <h2>Price Range Filter</h2>
              <p>Use slider or enter min and max price</p>
            </header>
            <div class="price-input">
              <div class="field">
                <span>Min</span>
                <input type="number" class="input-min" value="2500">
              </div>
              <div class="separator">-</div>
              <div class="field">
                <span>Max</span>
                <input type="number" class="input-max" value="7500">
              </div>
            </div>
            <div class="slider">
              <div class="progress"></div>
            </div>
            <div class="range-input">
              <input type="range" class="range-min" min="0" max="10000" value="2500" step="100">
              <input type="range" class="range-max" min="0" max="10000" value="7500" step="100">
            </div>
          </div>
          <script src="static/script.js"></script>
        <div class = "black">
            <input class = "black_button" type="checkbox" id="black" name="source" value="black">
            <label class = "black_lable" for="black">Черный</label>                                 
        </div>
        <!-- контейнер фильтра с названием и подтверждением -->
        <div class = "white">
            <input class = "white_button" type="checkbox" id="white" name="source" value="white">
            <label class = "white_lable" for="white">Белый</label>
        </div>
        <div class = "blue">
            <input  class = "blue_button" type="checkbox" id="blue" name="source" value=""blue">
            <label  class = "blue_lable" for="blue">Синий</label>
        </div>
        <div class = "red">
            <input class = "red_button" type="checkbox" id="red" name="source" value="red">
            <label class = "red_lable" for="red">Красный</label>
        </div>
        <div class = "green">
            <input class = "green_button" type="checkbox" id="green" name="source" value="green">
            <label class = "green_lable" for="green">Зеленый</label>
        </div>
    </div>  
    <div class="product-section">
        <div class="product-border">
          <div class="product-img-center">
            <a href="#">
              <img class="product-img" style="width:200px;height:200px;" src="static/T-short.png">
            </a>
          </div>
          <div>
            <p class="product-name">
              <a href="#">New iphone 11 Max Pro 64 GB</a>
            </p>
            <p class="product-rating">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <span>(5)</span>
            </p>
            <p class="product-price">
              <span class="product-discounted-price">Rs.549.00</span>
              <span class="product-original-price">Rs.554</span>
              <span class="product-discount">90%OFF</span>
        </div>
    </div>
    </div> 
    </body>
</html>