.countainer{
    
}

.favorite{
    border-radius: 5px;
    border: none;
}

.full_menu{
    border-radius: 5px;
    border: none;
}

.tovars{
    border-radius: 5px;
    border: none;
}

.reg_logo{
    border-radius: 5px;
    border: none;
}

.header{
    background-color: black;
}